#projects{
  text-align: center;
  background-color: rgb(243, 230, 206);
  padding: 2em 0;

  h2{
    padding: 1em 0;
  }

  .card{
    width: 25em;
    margin-bottom: 1.5em;
    border: none;
    border-radius: 5px;
    box-shadow: -10px 10px 31px -17px rgba(0, 0, 0, 0.404);
    transition-duration: 0.2s;

    .card-header{
      text-align: left;
    }

    .card-img-top{
      border-radius: 0;
    }

    .card-text{
      text-align: center;
    }
  }

  .card:hover{
    box-shadow: -10px 10px 36px -17px rgba(0, 0, 0, 0.671);
    transform: scale(1.03);
  }

  .card-icon{
    padding-right: 0.3em;
    box-sizing: initial;
  }

  #projects-view{
    width: 100%;

    .contain{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 75%;
      margin: auto;
    }
  }
}

@media (max-width: 1700px) { 
  #projects{
    .card{
      width: 19em;
    }

    #projects-view{
      width: 100%;
    
    .contain{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 65%;
      margin: auto;
      }
    }
  }
}

@media (max-width: 1550px) { 
  #projects{
    .card{
      width: 20em;
    }

    #projects-view{
      width: 100%;
    
    .contain{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 80%;
      margin: auto;
      }
    }
  }
}

@media (max-width: 1300px) { 
  #projects{
    .card{
      width: 19em;
    }

    #projects-view{
      width: 100%;
    
    .contain{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 85%;
      margin: auto;
      }
    }
  }
}

@media (max-width: 1000px) { 
  #projects{
    
    #projects-view{
      overflow-x: auto;

      .card:hover{
        transform: none;
      }

      .contain{
        width: 250em;
        flex-wrap: nowrap;
      }
    }
  }
}

#projects ::-webkit-scrollbar-track
{
  background-color: rgb(243, 230, 206);
  box-shadow: inset 0 0 3px rgb(219, 199, 163);
}

#projects ::-webkit-scrollbar
{
  height: 10px;
  background-color: black;
}

#projects ::-webkit-scrollbar-thumb
{
  background-color: rgb(175, 148, 97);
  border-radius: 50px;
}